html, body {
    /* background: #eef4d7; */
    background-color: #ffffff;
}

a {
    color: rgb(122, 152, 0) !important;
    text-decoration: none;
}

.btn-outline-success {
    color: rgb(122, 152, 0) !important;
    border-color: rgb(122, 152, 0) !important;
}

.btn-outline-success:hover {
    color: #ffffff !important;
    background-color: rgb(122, 152, 0) !important;
}

header {
    color: #ffffff;
    text-shadow: rgb(122, 152, 0) 0 0 10px;
    background: rgb(170, 212, 0);
    box-shadow: inset 0 10px 10px rgba(0, 0, 0, .15);
}

article {
    box-shadow: inset 0 -4px 10px rgba(0, 0, 0, .15);
}

section {
    padding: 0 .5rem;
}

#contact {
    background-color: #f1f1f1;
    box-shadow: inset 0 -4px 10px rgba(0, 0, 0, .15);
}

footer {
    background: #918a6f;
}

footer .container {
    height: 100px;
}

footer a {
    color: #ffffff !important;
}
