html, body {
    /* background: #eef4d7; */
    background-color: #ffffff;
}

a {
    color: rgb(122, 152, 0) !important;
    text-decoration: none;
}

.btn-outline-success {
    color: rgb(122, 152, 0) !important;
    border-color: rgb(122, 152, 0) !important;
}

.btn-outline-success:hover {
    color: #ffffff !important;
    background-color: rgb(122, 152, 0) !important;
}

header {
    color: #ffffff;
    text-shadow: rgb(122, 152, 0) 0 0 10px;
    background: rgb(170, 212, 0);
    box-shadow: inset 0 10px 10px rgba(0, 0, 0, .15);
}

section {
    padding: 0 .5rem;
}

#contact {
    background-color: #f1f1f1;
    box-shadow: inset 0 -4px 10px rgba(0, 0, 0, .15);
}

#posts {
    text-align: justify;
    font-size: 14pt;
    line-height: 1.6;
    margin-bottom: 2rem;
}

#posts h2 {
    margin-top: 1.5em;
    margin-bottom: .5em;
}

#posts h3 {
    margin-top: 1.2em;
    margin-bottom: .5em;
}

#posts img {
    max-width: 100%;
    height: auto;
    margin: auto;
    border: 1px solid #ddd;
}

footer {
    box-shadow: 0 -4px 10px rgba(0, 0, 0, .15);
    background: #918a6f;
}

footer .container {
    height: 100px;
}

footer a {
    color: #ffffff !important;
}
