html, body {
    background: #eef4d7;
}

h1 {
    top: 50%;
    left: 50%;
    width: 388px;
    height: 116px;
    margin: -58px 0px 0px -194px;
    text-indent: -1000px;
    overflow: hidden;
    background: url(../images/logo.png) no-repeat center center;
    position: absolute;
    display: block;
}
